.row {
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.column img {
  width: 100%;
  height: auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.container {
  border: 1px solid black;

  /* padding: 10px; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

/* .our-product {
  margin-right: auto;
  text-align: center;
} */

.our-product {
  text-align: center;
  flex-grow: 1;
}

.cart {
  margin-right: 10px;
}

.product {
  margin-left: 25px;
  margin-top: 20px;
  margin-right: 25px;
}

/* type */
.product-type {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.buttons {
  margin-left: 40px;
  display: flex;
}

.buttons button {
  border: 2px solid black;
  padding: 2px;
  width: 140px;
  background-color: white;
}

.buttons button:first-child {
  background-color: #0077b6; /* Màu xanh biển */
}

/* list  */
.product-list {
  margin-top: 15px;
}

.product-search {
  margin-top: 10px;
  display: flex;
}

.product-search {
  display: flex;
  align-items: center;
}

/* product-search */
.product-search p {
  margin-right: 20px;
}

.product-search .input-text {
  width: 340px;
}

.product-search .input-text::placeholder {
  font-style: italic;
}

/* .product-type {
  margin-top: 20px;
}

.buttons {
  display: flex;
  margin-left: 60px;
}

.buttons button {
  border: 2px solid black;
  padding: 2px;
  width: 150px;
  background-color: white;
} */

/* Popup */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-image {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.popup-name {
  text-align: center;
}

.popup-description,
.popup-price,
.popup-code {
  margin-top: 10px;
}

/* test */
.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.popup-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 30%;
  font-weight: bolder;
}
.popup-content button {
  display: block;
  margin: 0 auto;
}
.show {
  display: block;
}

/* page */
/* .pagination-container {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number.active {
  color: #fff;
  background: #0085b6;
}

.hidden {
  display: none;
} */

/* css popup image detail */
.image {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  transition: transform 0.2s;
}

.image:hover {
  transform: scale(1.1);
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* modify */
.popup-content {
  display: flex;
  gap: 30px;
}

.popup-content-wrapper {
  /* display: flex; */
  align-items: center;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.popup-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  /* margin-right: 20px; */
}

.popup-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* modify */
.popup-content__description {
  flex: 1;
}

.popup-name {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.popup-description {
  margin: 0 0 10px;
  font-size: 18px;
  color: #666;
}

.popup-price {
  font-size: 20px;
  font-weight: bold;
}

/* modify */
.popup-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
}

.popup-name,
.popup-description,
.popup-price {
  display: block;
  /* text-align: center; */
}

.popup-name {
  margin-bottom: 20px;
}

.popup-description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.popup-price {
  margin-top: 20px;
}

/* button add to cart  */
.cart-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

/* paging images */
.hidden {
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination-button {
  background-color: #f1f1f1;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination-button:hover {
  background-color: #ddd;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#pagination-numbers {
  display: flex;
  align-items: center;
}

#pagination-numbers div {
  background-color: #f1f1f1;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

#pagination-numbers div:hover {
  background-color: #ddd;
}

#pagination-numbers div.active {
  background-color: #333;
  color: #fff;
}

/* gio hang */
/* #cart-detail-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

#cart-detail,
#cart-empty {
  position: absolute;
  max-height: 200px;
  min-height: 100px;
  width: 500px;
  right: calc(((100vw - 900px) / 2));
  top: 60px;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  padding: 10px;
}

#cart-empty {
  display: none;
} */
