<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmployeeMapper">

    <resultMap id="BaseResultMap" type="Employee">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="fullname" jdbcType="VARCHAR" property="fullname"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
            *
        FROM employee
    </select>

</mapper>